body
{
	font: 14px Tahoma, Arial, Helvetica, sans-serif;
	color: #5f5f5f;
	background: #1186f3 url(images/bg.png);
	
}

.container{

	background:#c5edfa;


}



#logo
{
background: #1186f3 url(images/bg.png);  
padding-left: 40px;
text-align: left;
padding-top: 30px;
padding-bottom: 10px;
margin: 0 auto;
line-height: 2px;

}

#logo a {
	text-decoration: none;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
  
}

#logo H2 a
{
font-size: 5px;
}

#carousel{
    background: #c5edfa;
    border-top: 15px solid #c5edfa;
    border-right: 15px solid #c5edfa;
    border-left: 15px solid #c5edfa;
}

#buttons
{    
    border-right: 27px solid #c5edfa;
    border-left: 27px solid #c5edfa;
    padding: 0px;
	height: 62px;
	background: url(images/menu.gif) repeat-x;
}

#buttons ul {
    padding-left: 80px;
    margin: 0px;      
}

#buttons li {
	display: inline;		
}

#buttons a {
	display: block;
	float: left;
	width: 200px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color: #ffffff; 
	font-weight: bold;
	font-size: 14px;
	padding-top: 22px;
	margin-right: 5px;
}

#buttons a:hover {
	width: 200px;
    height: 40px;
	background: url(images/menu_hover.gif) repeat-x;
}

#Etiam{

	border: 10px solid #f8f8f8fb;
	border-left:40px solid #f8f8f8fb ;


}
#box{
	border-right: 27px solid #c5edfa;
    border-left: 27px solid #c5edfa;

}
#Duis{

	border-right: 40px solid #f8f8f8fb;
	border-top: 10px solid #f8f8f8fb;
	border-bottom: 10px solid #f8f8f8fb;


}

.list1 li {
	font-size:14px;
	color:#000;
	text-transform:uppercase;	
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	margin-left: -20px
}
	.list1 li a {
		color:#000;
		padding:0 0 0 4px;
	}

#footer
{
	background: url(images/footer.gif) repeat-x;
	height: 80px;
	margin: 0 auto;
	color: #ffffff;
	padding-top: 15px;
	text-align: center;
	clear:both;
	border-right: 27px solid #c5edfa;
    border-left: 27px solid #c5edfa;
   
}

#footer a
{
color: #ffffff;
font-size: 10px;
text-decoration: none;
}